<% include partials/header.ejs %>

        <div class="container mt-5 text-center">
            <h1><b>Salamantex Assignment</b></h1>
            <p class="mt-3">A Simple Ethereum Transactions Processor</p>
            <img class="mt-3" src="https://cdn.join.com/5cb5c7ab363e8b000660e766/salamantex-logo-xl.png" alt="">
        </div>
    
<% include partials/footer.ejs %>