<% include partials/header.ejs %>

        <div class="container mt-5">
            <div class="row mb-3">
                <header>
                    <h2><b>Submit Transaction</b></h2>
                </header>
            </div>
            <div class="row">
                <div class="col">
                    <form action="/submit-transaction" method="POST">
                        <div class="form-group row">
                            <label for="accountAddress" class="col-sm-2 col-form-label">Account Address</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="accountAddress" id="_accountAddress">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="currency" class="col-sm-2 col-form-label">Currency</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="currency" placeholder="Ether"  id="_currency" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="amount" class="col-sm-2 col-form-label">Amount</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="amount" id="_amount">
                            </div>
                        </div>
                        <div class="form-group row">
                            <!-- https://www.sitepoint.com/ethereum-transaction-costs/ -->
                            <!-- https://ethgasstation.info/ -->
                            <label for="transactionFee" class="col-sm-2 col-form-label">Transaction Fee</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="transactionFee" id="_transactionFee">
                                    <option value="0.00002">Slow: 0.00002 ETH</option>
                                    <option value="0.00002">Average: 0.00002 ETH</option>
                                    <option value="0.00021">Fast: 0.00021 ETH</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="optionalData" class="col-sm-2 col-form-label">Optional Data</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="optionalData"  id="_optionalData">
                            </div>
                        </div>
                        <input type="hidden" name="from" id="_from">
                        <input type="hidden" name="to" id="_to">
                        <input type="hidden" name="value" id="_value">
                        <input type="hidden" name="hexData" id="_hexData">
                        <input type="hidden" name="gas" id="_gas">
                        <button type="submit" class="btn btn-primary" onclick="submitTransaction()">Submit</button>
                    </form>
                </div>
            </div>
        </div>

    <script src="../js/submitTransaction.js"></script>

<% include partials/footer.ejs %>